{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react",
    "babel-preset-mobx"
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
