DATABASE_URL=postgres://<username>:<password>@<host>:<port>/<dbname>
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_COGNITO_REGION=
AWS_COGNITO_POOL_ID=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_DOMAIN=
MAILERLITE_API_KEY=
MAILERLITE_WEB_GROUP_ID=
MAILERLITE_NEWSLETTER_GROUP_ID=
SEGMENT_WRITE_KEY=
HERE_MAPS_APP_ID=
HERE_MAPS_API_KEY=
SENTRY_DSN=
NODE_ENV=development